<a href="https://colab.research.google.com/github/saxonmahar/Data_Science/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def hello():
    print("Hello World")


hello()
hello()

Hello World
Hello World

In [4]:
def cal():
    l = int(input("Enter l = ")) #local variable
    b = int(input("Enter b = ")) #local variable
    a = l*b
    print(a)

cal()

Enter l = 23
Enter b = 12
276

In [5]:
def cal():
    a = l*b
    print(a)

l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
cal()

Enter l = 12
Enter b = 12
144

In [6]:
# argument return type
# function without argument and no return type
# function with argument and no return type
# function without argument and return type
# function with argument and return type

In [10]:
#function with argument and no return type
def cal(l,b):    #parameter
    a = l*b
    print(a)

l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
cal(l,b)

Enter l = 14
Enter b = 14
196

In [11]:
#function with argument and no return type
def cal(x,y):    #parameter
    a = x*y
    print(a)

l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
cal(l,b)   #argument

Enter l = 12
Enter b = 12
144

In [12]:
#function with argument and no return type
def area(x,y):    #parameter
    a = x*y
    print(a)

def volume(x,y,z):
    v = x*y*z
    print(v)

l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable
area(l,b)   #argument
volume(l,b,h)

Enter l = 123
Enter b = 142
Enter h = 2
17466
34932

In [14]:
#default argument
def language(lan = "Python"):
    print(lan)

In [15]:
language()

Python

In [17]:
# Return type function
def hello():
    return "Hello"

x = hello()
print(x)

Hello

In [18]:
# Return type function
def hello():
    return "Hello"

x = hello()

print(x+"World")

HelloWorld

In [19]:
# function with argument and return type

def area(x,y):
    a = x*y
    return a

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

ar = area(l,b)
v = ar*h
print("Volume = ",v)

Enter l = 12
Enter b = 122
Enter h = 11
Volume =  16104

In [29]:
def cal(x,y,z):
    a = x*y
    v = a*z
    return a,v

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

av = cal(l,b,h)

print(av)

Enter l = 12
Enter b = 12
Enter h = 12
(144, 1728)

In [30]:
area,volume = av
print(area,volume)

144 1728

In [31]:
a = 10,20,30
print(a)

(10, 20, 30)

In [33]:
def cal():
    p = int(input("Enter p = "))
    t = float(input("Enter t = "))
    r = float(input("Enter r = "))
    i = p*t*r/100
    print(i)
    x = input("Press Enter for more cal")
    if x == "":
        cal()

cal()

Enter p = 12
Enter t = 3
Enter r = 2
0.72
Press Enter for more cal2